html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  overflow: hidden;
}

#sketch-container {
  width: auto; /* Adjust width as needed */
  height: 100vh; /* Adjust height as needed */
}

/* canvas {
  display: block;
} */
